html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h1{
    margin-bottom: 50px;
}

body {
  margin-bottom: 60px;
}

.bnt-form {
    margin-left: 5px;
    margin-top: 15px;
    float: right;
}

.form-cliente {
    margin-top: 20px;
}

.tabela {
    margin-top: 50px;
}